.vscode
environment.json
actualUserPasswordforDO.txt
localRun.sh
deploy.sh
*.log
*log
killRemote.sh
startRemote.sh
copyRemote.sh
port_material_track
*.txt
vendor/*
!vendor/modules.txt
droplet_password